@import "../app/components/sprite-menu/sprite-menu.scss";

#vp-player-container {
	width: 200px;
	height: 140px;
	position: fixed !important;
	bottom: 20px !important;
	right: 20px !important;
	z-index: 999999999 !important;
	pointer-events: auto !important;
	
	canvas {
		display: block !important;
		position: absolute !important;
		bottom: 0 !important;
		left: 0 !important;
		pointer-events: auto !important;
	}
	
	&.vp-direction-right canvas {
		transform: scaleX(-1);
	}
	
	#vp-sprite-menu-container {
		position: absolute !important;
		bottom: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		pointer-events: auto !important;
	}
}

.vp-debug-mode {
	.vp-edge-detector-top-text {
		border-top: solid 1px #00ff00 !important;
	}

	.vp-edge-detector-bottom-text {
		border-bottom: solid 1px #00ff00 !important;
	}

	.vp-edge-detector-right-text {
		border-right: solid 1px #00ff00 !important;
	}

	.vp-edge-detector-left-text {
		border-left: solid 1px #00ff00 !important;
	}

	.vp-edge-detector-top-full {
		border-top: solid 1px #ff0000 !important;
	}

	.vp-edge-detector-bottom-full {
		border-bottom: solid 1px #ff0000 !important;
	}

	.vp-edge-detector-right-full {
		border-right: solid 1px #ff0000 !important;
	}

	.vp-edge-detector-left-full {
		border-left: solid 1px #ff0000 !important;
	}

	.vp-edge-detector-top-partial {
		border-top: dashed 1px #0000ff !important;
	}

	.vp-edge-detector-bottom-partial {
		border-bottom: dashed 1px #0000ff !important;
	}

	.vp-edge-detector-right-partial {
		border-right: dashed 1px #0000ff !important;
	}

	.vp-edge-detector-left-partial {
		border-left: dashed 1px #0000ff !important;
	}
}

svg.vp-animation-debug {
	path {
		stroke-width: 2;
		stroke: gray;
	}
}

.vp-disallow-scroll {
	overflow: hidden;
}
.vp-object-instantiator {
	cursor: none;
}
.vp-object-instantiator {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 2147483647 !important;
}
#vp-app-react-container {
	position: fixed;
}
vp-scattered-span {
	position: relative;
	vp-scattered-letter {
		position: absolute;
		z-index: 2147483647 !important;
		cursor: pointer;
	}
	vp-placeholder-letter {
		visibility: hidden;
	}
}
